<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
</head>
<body>
    <h1>註冊介面</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type = "submit" value = "確認註冊">
    </form>
    <div><td>
        <p>
          <button type="button">
            <a href="{% url 'login_' %}">進入登入畫面</a>
          </button>
      </td></div>  
</body>
</html>