{% load static %}  <!-- 載入靜態css -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅駁包</title>

    <!-- html放templates，css、照片放static -->
    <!-- 載入靜態css -->
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>

<body>
    <!-- head -->
    {% include 'includes/header.html' %} 

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-3">
                <img src="{% static 'img/1597320584.webp' %}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 detailinfo mt-3">
                <h2 class="title">中信金融管理學院</h2>
                <h3 class="detailheadY">台南市</h3>
                <h3 class="title">#室外 #親子</h3>
            </div>
        </div>
    </div>
    <div class="container detailinfo">
        <div class="row mt-3">
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-geo-alt-fill"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">地址</p>
                    <p class="detailinfoB">台南市安南區台江大道三段600號</p>
                </div>
            </div>
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-telephone-fill"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">電話</p>
                    <p class="detailinfoB">0912345678</p>
                </div>
            </div>
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-door-open"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">營業時間</p>
                    <p class="detailinfoB">平日</p>
                </div>
            </div>
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-door-closed"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">公休日</p>
                    <p class="detailinfoB">假日</p>
                </div>
            </div>
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-cash"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">門票價格</p>
                    <p class="detailinfoB">免費入場</p>
                </div>
            </div>
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-hourglass-split"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">滯留時間</p>
                    <p class="detailinfoB">2小時</p>
                </div>
            </div>
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-person-wheelchair"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">身心障礙友善</p>
                    <p class="detailinfoB">是</p>
                </div>
            </div>
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-p-square"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">停車場</p>
                    <p class="detailinfoB">有</p>
                </div>
            </div>
            <div class="col-md-1 col-2 detailinfocenter detailinfoicon mt-2">
                <i class="bi bi-globe-asia-australia"></i>    
            </div>
            <div class="col-md-5 col-10 detailinfocenter mt-2">
                <div class="row">
                    <p class="detailinfoY">網站連結</p>
                    <p class="detailinfoB">vhjkjnkj</p>
                </div>
            </div>
            <div class="col-12 mt-5"><p>chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要</p></div>
            <div class="centered-button  mt-3">
                <input type="submit" name="submit" value="加入行程"  class="bluebtn center">
            </div>
        </div>
    </div>

    
    <!-- footer -->
    {% include 'includes/footer.html' %}
</body>

</html>

