{% load static %}  <!-- 載入靜態css -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅駁包</title>

    <!-- html放templates，css、照片放static -->
    <!-- 載入靜態css -->
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
    <!-- head -->
    {% include 'includes/header.html' %} 
    <div class="container">
        <!-- search -->
        <form action="">
            <div class="row g-0 input-group input-group-lg search">
                <div class="form-floating col-md-4">
                    <input type="text" class="form-control " placeholder="目的地">
                    <label for="location"><i class="bi bi-search"></i>目的地</label>
                </div>
                <div class="form-floating col-md-2">
                    <input type="date" class="form-control" placeholder="出發日期">
                    <label for="startdate"><i class="bi bi-calendar-week"></i>出發日期</label>
                </div>
                <div class="form-floating col-md-2">
                    <input type="date" class="form-control" placeholder="結束日期">
                    <label for="enddate"><i class="bi bi-calendar-week"></i>結束日期</label>
                </div>
                <div class="form-floating col-md-4">
                    <select class="form-select">
                        <option value="1">1人</option>
                        <option value="2">2人以上(含)</option>
                    </select>
                    <label for="number"><i class="bi bi-people-fill"></i>出遊人數</label>
                </div>
            </div>
        </form>
        <!-- 文字 -->
        <div class="mt-3">
            <p>以下為旅駁包根據偏好推薦的XXX一日遊行程</p>
        </div>
        <!-- 拖曳結果&地圖 -->
        <div class="mt-3">
            <div class="row">
                <div class="col-md-4 order-md-1">
                    <div id="wrap">
                        <div class="row bga">
                            <h2 class="title">輸入地點</h2>
                            <div class="col-md-6">
                                <input type="text" id="locationInput">
                            </div>
                            <div class="col-md-6">
                                <button onclick="addLocation()">送出</button>
                            </div>
                            <ul id="locationList" class="map-list"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 order-md-2">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" id="tripName" placeholder="輸入此旅遊名稱" required>
                        </div>
                        <div class="col-md-3">
                            <!-- 表單開始 -->
                            <form id="saveTripForm" method="post" action="{% url 'save_trip' %}">
                                {% csrf_token %}
                                <!-- 行程名稱 -->
                                <input type="text" name="title" id="hiddenTitle" value="" hidden>
                                <!-- 位置列表 -->
                                <input type="hidden" name="locations" id="hiddenLocations" value="">
                                <input type="hidden" name="sorted_locations" id="hiddenSortedLocations" value="">
                                <!-- 其他表單元素 -->
                                <button type="submit" class="bluebtn center mb-3" onclick="saveTrip()">儲存行程</button>
                            </form>
                            <!-- 表單結束 -->
                        </div>
                        <div id="map" style="width: 600px;height: 600px;"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- 頁籤 -->
        <div class="mt-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                <button class="nav-link bookmark" id="outdoor-tab" data-bs-toggle="tab" data-bs-target="#outdoor-tab-pane" type="button" role="tab" aria-controls="outdoor-tab-pane">室外活動</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link bookmark" id="indoor-tab" data-bs-toggle="tab" data-bs-target="#indoor-tab-pane" type="button" role="tab" aria-controls="indoor-tab-pane">室內活動</button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link bookmark" id="child-tab" data-bs-toggle="tab" data-bs-target="#child-tab-pane" type="button" role="tab" aria-controls="child-tab-pane">親子出遊</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link bookmark" id="group-tab" data-bs-toggle="tab" data-bs-target="#group-tab-pane" type="button" role="tab" aria-controls="group-tab-pane">團體出遊</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link bookmark" id="restaurantfood-tab" data-bs-toggle="tab" data-bs-target="#restaurantfood-tab-pane" type="button" role="tab" aria-controls="restaurantfood-tab-pane">餐廳美食</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link bookmark" id="streetfood-tab" data-bs-toggle="tab" data-bs-target="#streetfood-tab-pane" type="button" role="tab" aria-controls="streetfood-tab-pane">街邊美食</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show" id="outdoor-tab-pane" role="tabpanel" aria-labelledby="outdoor-tab" tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 mt-3">
                                <div class="info-box">
                                    <div class="row">
                                        {%for result in Filters.qs%}
                                        <div class="col-md-5 img-over-hidd">
                                            <img src="{% static 'img/'%}{{result.name}}.jpg" alt="" class="img-fluid-h">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="info-content">
                                                <div class="info-text">
                                                    <h2 class="title">{{result.name}}</h2>
                                                    <p class="text">地址：<span>{{result.address}}</span></p>
                                                    <p class="text">電話：<span>{{result.tel}}</span></p>
                                                    <p class="text">公休日：<span>{{result.restday}}</span></p>
                                                    <p class="text">門票價格(每人)：<span>{{result.price}}</span></p>
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">查看詳情</button>
                                                    <a href="#" class="btn">加入行程</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"
        integrity="sha512-Eezs+g9Lq4TCCq0wae01s9PuNWzHYoCMkE97e2qdkYthpI0pzC3UGB03lgEHn2XM85hDOUF6qgqqszs+iXU4UA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNvH9svsfBlYkeJ83vGmPWAnN64nRQ_kI"></script>

    <script defer>
        let locationAry = [];
        let form;

        function addLocation() {
            const locationInput = document.getElementById('locationInput');
            const locationList = document.getElementById('locationList');
            const hiddenLocationsInput = document.getElementById('hiddenLocations');
            const hiddenTitleInput = document.getElementById('hiddenTitle');
            const tripNameInput = document.getElementById('tripName');

            const newLocation = locationInput.value.trim();
            const tripName = tripNameInput.value.trim();  // 获取行程名稱輸入框的值

            if (newLocation !== '') {
                locationAry.push(newLocation);
                renderLocations();
                locationInput.value = '';

                // 更新表單中的位置和行程名稱
                hiddenLocationsInput.value = locationAry.join(',');
                hiddenTitleInput.value = tripName;  // 设置行程名稱的值
            } else {
                alert('請輸入地點!');
            }
        }

        function removeLocation(index) {
            locationAry.splice(index, 1);
            renderLocations();
            
            // 更新表單中的位置
            const hiddenLocationsInput = document.getElementById('hiddenLocations');
            hiddenLocationsInput.value = locationAry.join(','); // 使用逗號分隔位置列表
        }

        function renderLocations() {
            const locationList = document.getElementById('locationList');
            const hiddenLocationsInput = document.getElementById('hiddenLocations');
            const hiddenSortedLocationsInput = document.getElementById('hiddenSortedLocations');
            
            locationList.innerHTML = '';
            locationAry.forEach((location, index) => {
                const listItem = document.createElement('li');
                listItem.innerHTML = 
            '<li class="link">' +
                '<div class="row g-0">' +
                    '<div class="col-10 map-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="拖曳可重新排序">' +
                        '<h4 class="title">'+location+'</h4>' +
                        '<ul>' +
                            '<li>建議停留時間：1.5hr</li>' +
                            '<li>地址：709台南市安南區台江大道三段600號</li>' +
                            '<li>門票：0元</li>' +
                        '</ul>' +
                    '</div>' +
                    '<div class="col-2 map-icon">' +
                        '<button class="clear-btn-style" onclick="removeLocation(' + index + ')"><i class="bi bi-trash3"></i></button>' +
                    '</div>' +
                '</div>' +
            '</li>';

                locationList.appendChild(listItem);
            });

            const sortable = new Sortable(locationList, {
                animation: 150,
                onEnd: function (evt) {
                    const fromIndex = evt.oldIndex;
                    const toIndex = evt.newIndex;
                    const movedLocation = locationAry.splice(fromIndex, 1)[0];
                    locationAry.splice(toIndex, 0, movedLocation);

                    // 更新表單中的位置和排序信息
                    hiddenLocationsInput.value = locationAry.join(',');
                    hiddenSortedLocationsInput.value = locationAry.join(',');

                    renderLocations(); // 重新渲染列表
                }
            });

            updateMap();
        }

        function updateMap() {
            if (locationAry.length == 0) {
                console.log('locationAry is empty');
                return;
            }

            const mapDiv = document.getElementById('map');

            if (locationAry.length == 1) {
                mapDiv.innerHTML = `<iframe src="https://www.google.com/maps/embed/v1/place?q=${encodeURIComponent(locationAry[0])}&key=AIzaSyCNvH9svsfBlYkeJ83vGmPWAnN64nRQ_kI" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>`;
                return;
            }

            const directionsService = new google.maps.DirectionsService();
            const directionsDisplay = new google.maps.DirectionsRenderer();

            const waypoints = locationAry.map(location => ({
                location,
                stopover: true
            }));

            const request = {
                origin: waypoints.shift().location,
                destination: waypoints.pop().location,
                waypoints,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, (result, status) => {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(result);
                    directionsDisplay.setMap(new google.maps.Map(mapDiv, {
                        zoom: 10,
                        center: result.routes[0].legs[0].start_location
                    }));
                } else {
                    console.error('Error fetching directions:', status);
                }
            });
        }

        function saveTrip() {
            const tripNameInput = document.getElementById('tripName');
            const titleInput = document.getElementById('hiddenTitle');
            const locationInput = document.getElementById('locationInput');

            // 檢查是否輸入了行程名稱
            if (tripNameInput.value.trim() === '') {
                alert('請輸入行程名稱!');
                return;
            }

            // 將行程名稱的值設定到隱藏的 title 欄位中
            titleInput.value = tripNameInput.value.trim();

            // 提交表單
            form.submit();
        }  
        function Init_Map() {
            renderLocations();
            // 在這裡取得表單元素
            form = document.getElementById('saveTripForm');
        }
        Init_Map();

        document.addEventListener('DOMContentLoaded', function() {
            Init_Map();
        });
    </script>
    <!-- 小視窗 -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="ModalLabel">查看詳情</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <!-- 小視窗圖片先註解掉，能用了再開 -->
                        <!-- <img src="{% static 'img/' %}" alt="" class="img-fluid">  -->
                        <div class="detailinfo mt-3">
                            <h2 class="title">中信金融管理學院</h2>
                            <h3 class="detailheadY">台南市</h3>
                            <h3 class="title">#室外 #親子</h3>
                        </div>
                    </div>
                    <div class="detailinfo">
                        <div class="row mt-3">
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-geo-alt-fill"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">地址</p>
                                    <p class="detailinfoB">台南市安南區台江大道三段600號</p>
                                </div>
                            </div>
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-telephone-fill"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">電話</p>
                                    <p class="detailinfoB">0912345678</p>
                                </div>
                            </div>
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-door-open"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">營業時間</p>
                                    <p class="detailinfoB">平日</p>
                                </div>
                            </div>
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-door-closed"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">公休日</p>
                                    <p class="detailinfoB">假日</p>
                                </div>
                            </div>
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-cash"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">門票價格</p>
                                    <p class="detailinfoB">免費入場</p>
                                </div>
                            </div>
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-hourglass-split"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">滯留時間</p>
                                    <p class="detailinfoB">2小時</p>
                                </div>
                            </div>
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-person-wheelchair"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">身心障礙友善</p>
                                    <p class="detailinfoB">是</p>
                                </div>
                            </div>
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-p-square"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">停車場</p>
                                    <p class="detailinfoB">有</p>
                                </div>
                            </div>
                            <div class="col-2 detailinfocenter detailinfoicon mt-2">
                                <i class="bi bi-globe-asia-australia"></i>    
                            </div>
                            <div class="col-10 detailinfocenter mt-2">
                                <div class="row">
                                    <p class="detailinfoY">網站連結</p>
                                    <p class="detailinfoB">vhjkjnkj</p>
                                </div>
                            </div>
                            <div class="col-12 mt-5"><p>chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要chatGPT地點摘要</p></div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
          </div>
        </div>
    </div>
    <!-- footer -->
    {% include 'includes/footer.html' %}    
</body>
</html>
<script> //讓室外活動標籤預先顯示
    document.addEventListener('DOMContentLoaded', function () {
        var outdoorTab = new bootstrap.Tab(document.getElementById('outdoor-tab'));
        outdoorTab.show();
    });
</script>