{% load static %}  <!-- 載入靜態css -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅駁包</title>

    <!-- html放templates，css、照片放static -->
    <!-- 載入靜態css -->
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>

<body>
    {% include 'includes/header.html' %} 
    
    <div class="container mt-4 col-12">
        <h1 class="yellotitle center">會員註冊</h1>
    </div>
    
    <!-- <div class="container col-12">
        <h3>成為會員即刻為您安排行程!</h3>
    </div> -->

    <div class="container mt-4 col-12">
        <div class="row center">
            <form method="post">
                {% csrf_token %}
                <!-- {{ form.non_field_errors }} -->
                <div class="container">
                    <ul>
                        <li class="inputerror center">{{ form.username.errors }}</li>
                        <li class="inputerror center">{{ form.password1.errors }}</li>
                        <li class="inputerror center">{{ form.password2.errors }}</li>
                    </ul>
                </div>
                <div class="form-group center mt-4">
                    <tr>
                        <!-- 輸入框的效果是inputblock還沒放 -->
                        <label for="{{ form.username.id_for_label }}" class="inputblocktext">帳&emsp;&emsp;號&emsp;</label>
                        {{ form.username }}                     
                    </tr>
                </div>
                <div class="form-group center mt-4">
                    <tr>
                        <label for="{{ form.password1.id_for_label }}" class="inputblocktext">密&emsp;&emsp;碼&emsp;</label>
                        {{ form.password1 }}                
                    </tr>
                </div>
                <div class="form-group mb-4 center mt-4">
                    <tr>
                        <label for="{{ form.password2.id_for_label }}" class="inputblocktext">確認密碼&emsp;</label>
                        {{ form.password2 }}
                    </tr>
                </div>
                <!-- {{ form.non_field_errors }} -->
                <button type="submit" class="bluebtn center mb-3">註冊</button>
            </form> 
        </div>
         
    </div>

    <!-- haveaccountornot -->
    <div class="container line">
        <div class="center mt-3 col-12">
            <p class="haveaccountornot">已經有會員了嗎？&emsp;<a href="/login/" class="haveaccountornot">點此登入</a></p>
        </div>
    </div>
    {% include 'includes/footer.html' %}
</body>

</html>